# ======================== 目标平台 x86_64 ========================
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_GRUB_IMAGES=y
CONFIG_VMDK_IMAGES=n
CONFIG_TARGET_KERNEL_PARTSIZE=128
CONFIG_TARGET_ROOTFS_PARTSIZE=2048
CONFIG_TARGET_ROOTFS_EXT4FS=n
CONFIG_GRUB_TITLE="OpenWrt"


#内核模块调整
# CONFIG_PACKAGE_kmod-br-netfilter is not set
# CONFIG_PACKAGE_kmod-crypto-kpp is not set
# CONFIG_PACKAGE_kmod-ip6tables is not set
# CONFIG_PACKAGE_kmod-ipt-conntrack is not set
# CONFIG_PACKAGE_kmod-ipt-core is not set
# CONFIG_PACKAGE_kmod-ipt-extra is not set
# CONFIG_PACKAGE_kmod-ipt-nat is not set
# CONFIG_PACKAGE_kmod-ipt-nat6 is not set
# CONFIG_PACKAGE_kmod-ipt-physdev is not set
# CONFIG_PACKAGE_kmod-iptables is not set
# CONFIG_PACKAGE_kmod-nf-conntrack is not set
# CONFIG_PACKAGE_kmod-nf-conntrack-netlink is not set
# CONFIG_PACKAGE_kmod-nf-flow is not set
# CONFIG_PACKAGE_kmod-nf-ipt is not set
# CONFIG_PACKAGE_kmod-nf-ipt6 is not set
# CONFIG_PACKAGE_kmod-nf-ipvs is not set
# CONFIG_PACKAGE_kmod-nf-log is not set
# CONFIG_PACKAGE_kmod-nf-log6 is not set
# CONFIG_PACKAGE_kmod-nf-nat is not set
# CONFIG_PACKAGE_kmod-nf-nat6 is not set
# CONFIG_PACKAGE_kmod-nf-reject is not set
# CONFIG_PACKAGE_kmod-nf-reject6 is not set
# CONFIG_PACKAGE_kmod-nf-socket is not set
# CONFIG_PACKAGE_kmod-nf-tproxy is not set
# CONFIG_PACKAGE_kmod-nfnetlink is not set
# CONFIG_PACKAGE_kmod-amazon-ena is not set
# CONFIG_PACKAGE_kmod-nf-conntrack is not set
# CONFIG_PACKAGE_kmod-nf-conntrack-netlink is not set
# CONFIG_PACKAGE_kmod-nf-flow is not set
# CONFIG_PACKAGE_kmod-nf-log is not set
# CONFIG_PACKAGE_kmod-nf-log6 is not set
# CONFIG_PACKAGE_kmod-nf-nat is not set
# CONFIG_PACKAGE_kmod-nf-reject is not set
# CONFIG_PACKAGE_kmod-nf-reject6 is not set
# CONFIG_PACKAGE_kmod-nfnetlink is not set
# CONFIG_PACKAGE_kmod-nft-compat is not set
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-sched=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-nft-arp=y
CONFIG_PACKAGE_kmod-nft-bridge=y
CONFIG_PACKAGE_kmod-nft-connlimit=y
CONFIG_PACKAGE_kmod-nft-netdev=y
CONFIG_PACKAGE_kmod-nft-socket=y
CONFIG_PACKAGE_kmod-nft-tproxy=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y


#内核精简
CONFIG_PACKAGE_kmod-8139cp=n
CONFIG_PACKAGE_kmod-8139too=n
CONFIG_PACKAGE_kmod-amd-xgbe=n
CONFIG_PACKAGE_kmod-bnx2=n
CONFIG_PACKAGE_kmod-dwmac-intel=n
CONFIG_PACKAGE_kmod-forcedeth=n
CONFIG_PACKAGE_kmod-libeth=n
CONFIG_PACKAGE_kmod-libie=n
CONFIG_PACKAGE_kmod-net-selftests=n
CONFIG_PACKAGE_kmod-pcnet32=n
CONFIG_PACKAGE_kmod-pcs-xpcs=n
CONFIG_PACKAGE_kmod-phy-ax88796b=n
CONFIG_PACKAGE_kmod-tg3=n
CONFIG_PACKAGE_kmod-tulip=n
CONFIG_PACKAGE_kmod-ath=n
CONFIG_PACKAGE_kmod-ath10k=n
CONFIG_PACKAGE_kmod-ath5k=n
CONFIG_PACKAGE_kmod-ath9k=n
CONFIG_PACKAGE_kmod-ath9k-common=n
CONFIG_PACKAGE_kmod-ath9k-htc=n
CONFIG_PACKAGE_kmod-cfg80211=n
CONFIG_PACKAGE_kmod-mac80211=n
CONFIG_PACKAGE_kmod-rt2800-lib=n
CONFIG_PACKAGE_kmod-rt2800-usb=n
CONFIG_PACKAGE_kmod-rt2x00-lib=n
CONFIG_PACKAGE_kmod-rt2x00-usb=n
CONFIG_PACKAGE_kmod-dnsresolver=n
# CONFIG_PACKAGE_kmod-usb-net is not set
# CONFIG_PACKAGE_kmod-usb-net-asix is not set
# CONFIG_PACKAGE_kmod-usb-net-asix-ax88179 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8152 is not set
# CONFIG_PACKAGE_kmod-usb-net-rtl8150 is not set



#主题调整
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-i18n-argon-zh-cn=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-i18n-bootstrap-zh-cn=y
CONFIG_PACKAGE_luci-theme-glass=y
CONFIG_PACKAGE_luci-i18n-glass-zh-cn=y

#插件调整

#network
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y

#samba
CONFIG_PACKAGE_luci-app-ksmbd=y
CONFIG_PACKAGE_luci-i18n-ksmbd-zh-cn=y

CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-i18n-cifs-mount-zh-cn=y

#disk manager
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=n
CONFIG_PACKAGE_luci-i18n-diskman-zh-cn=y

CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y

CONFIG_PACKAGE_luci-app-filemanager=y
CONFIG_PACKAGE_luci-i18n-filemanager-zh-cn=y

#nfs
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_luci-i18n-nfs-zh-cn=y

#upnp
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y

#adguardhome
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-i18n-adguardhome-zh-cn=y

#lucky
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-i18n-lucky-zh-cn=y

#nikki
CONFIG_PACKAGE_luci-app-nikki=y
CONFIG_PACKAGE_luci-i18n-nikki-zh-cn=y

#task plan
CONFIG_PACKAGE_luci-app-taskplan=n
CONFIG_PACKAGE_luci-i18n-taskplan-zh-cn=n

# for luci-app-daed
CONFIG_DEVEL=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_BTF=y
CONFIG_KERNEL_DEBUG_INFO_BTF=y
CONFIG_BPF_TOOLCHAIN_HOST=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_INFO_REDUCED=n
CONFIG_KERNEL_CGROUPS=y
CONFIG_KERNEL_CGROUP_BPF=y
CONFIG_KERNEL_BPF_EVENTS=y
CONFIG_KERNEL_XDP_SOCKETS=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y
CONFIG_PACKAGE_dae=y
CONFIG_PACKAGE_luci-app-daede=y
CONFIG_PACKAGE_luci-i18n-daede=y

#for fuse filesystem
CONFIG_PACKAGE_kmod-fuse=y

#other
CONFIG_PACKAGE_luci-app-poweroffdevice=y
CONFIG_PACKAGE_luci-i18n-poweroffdevice-zh-cn=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-i18n-wol-zh-cn=y
CONFIG_PACKAGE_luci-app-run=n
CONFIG_PACKAGE_luci-i18n-run-zh-cn=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=y

CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=n
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-i18n-vsftpd-zh-cn=n



# CONFIG_PACKAGE_luci-app-dockerman is not set
# CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
CONFIG_PACKAGE_ddns-scripts=n
CONFIG_PACKAGE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_ddns-scripts-services=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_ddns-scripts_dnspod=n
CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_iw=n
CONFIG_PACKAGE_hostapd-common=n
CONFIG_NSS_FIRMWARE_VERSION_11_4=n
CONFIG_PACKAGE_r8152-firmware=n
CONFIG_PACKAGE_r8169-firmware=n


#package调整
# CONFIG_PACKAGE_xtables-nft is not set
# CONFIG_PACKAGE_ip6tables-nft is not set
# CONFIG_PACKAGE_iptables-nft is not
# CONFIG_PACKAGE_iptables-mod-extra is not set
CONFIG_PACKAGE_core=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_cpupower=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_lrzsz=y
CONFIG_PACKAGE_lscpu=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_7z=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_gzip=y
CONFIG_PACKAGE_pigz=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_upx=y
CONFIG_PACKAGE_zstd=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_chattr=y
CONFIG_PACKAGE_lsattr=y
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_findutils=y
CONFIG_PACKAGE_findutils-find=y
CONFIG_PACKAGE_findutils-locate=y
CONFIG_PACKAGE_findutils-xargs=y
CONFIG_PACKAGE_file=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_ss=y
CONFIG_PACKAGE_bpftool-full=y
CONFIG_PACKAGE_tc-full=y
CONFIG_PACKAGE_netcat=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_nsenter=y
CONFIG_PACKAGE_lsns=y
CONFIG_PACKAGE_lsof=y


#openssl
CONFIG_PACKAGE_openssl-util=y
CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_KTLS=y
CONFIG_OPENSSL_WITH_ASM=y
# CONFIG_OPENSSL_WITH_DEPRECATED is not set
CONFIG_OPENSSL_NO_DEPRECATED=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_TLS13=y
# CONFIG_OPENSSL_WITH_DTLS is not set
# CONFIG_OPENSSL_WITH_NPN is not set
# CONFIG_OPENSSL_WITH_SRP is not set
# CONFIG_OPENSSL_WITH_CMS is not set
# CONFIG_OPENSSL_WITH_EC2M is not set
CONFIG_OPENSSL_WITH_CHACHA_POLY1305=y
# CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM is not set
CONFIG_OPENSSL_WITH_PSK=y
# CONFIG_OPENSSL_WITH_ARIA is not set
# CONFIG_OPENSSL_WITH_CAMELLIA is not set
# CONFIG_OPENSSL_WITH_IDEA is not set
# CONFIG_OPENSSL_WITH_SEED is not set
# CONFIG_OPENSSL_WITH_SM234 is not set
# CONFIG_OPENSSL_WITH_BLAKE2 is not set
# CONFIG_OPENSSL_WITH_MDC2 is not set
# CONFIG_OPENSSL_WITH_WHIRLPOOL is not set
# CONFIG_OPENSSL_WITH_COMPRESSION is not set
# CONFIG_OPENSSL_WITH_RFC3779 is not set
